main {
  font-family:"Ubuntu", sans-serif;
}

.header-content-container {
  font-family: "Ubuntu";
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: gray;
  font-size: 1.5em;
  margin: 15px 0 0 0;
  
}

.header-content-title {
  display: flex;
  padding-right: 1.5rem;

  justify-content: center;
  align-items: center;
}

.header-content-title h2 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
}

.header-content-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}


.header-content-menu {
  display: flex;
  padding-left: 5rem;

}

.menu img {
  max-width: 45px;
  height: auto;
  margin: 0 10px;

}

.header-logo {
  max-width: 32.5px;
  height: auto;
}




.section--intro {
  display: flex;
  justify-content: center;
  margin: 0 15%;

}


.inner-container h1{
  text-align: center;
  font-weight: normal;
  font-size: 1.6em;
}


.section--services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 0.5em;
}

.section-inner-container {



}

.section--services__title {
  text-align: center;

}

.section--services__title h2{
  font-weight: 300;
  font-size: 1.5em;
  
}

.section--services__title p{
  font-weight: 300;
  font-size: 0.6em;
  color: gray;
  
}

.card__image_zero img {
  max-width: 35px;
  max-height: 35px;
  padding: 18px 26px 18px;
  border: solid 2px #feb206;
  margin-right: 12px;
}

.card__image_one img {
  max-width: 35px;
  max-height: 35px;
  padding: 20px;
  border: solid 2px #25c389;
  margin-right: 12px;

}

.card__image_two img {
  max-width: 35px;
  max-height: 35px;
  padding: 20px;
  border: solid 2px #e7615e;
  margin-right: 12px;

}
.card__image_three img {
  max-width: 35px;
  max-height: 35px;
  padding: 20px;
  border: solid 2px #1fa8d4;
  margin-right: 12px;

}

.card__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 15%;
  line-height: 0;
  /* max-width: 350px; */

}

.card__desc h3{
  font-size: 0.9em;
  font-weight: 500;
  
}

.card__desc p{
  font-size: 0.7em;
  font-weight: 300;
  color: gray;
  line-height: 1.5;

}

.section--services__title {
}


