main {
  font-family:"Ubuntu", sans-serif;
}

.header-content-container {
  font-family: "Ubuntu";
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  color: gray;
  font-size: 1.5em;
  margin: 15px 0 0 0;
  
}

.header-content-title {
  display: grid;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  justify-content: center;
  align-items: center;
}

.header-content-title h2 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
}

.header-content-logo {
  display: grid;
  grid-row: 1 / 2;
  grid-column: 5 / 6;
  justify-content: center;
  align-items: center;
}


.header-content-menu {
  display: grid;
  grid-row: 1 / 2;
  grid-column: 10 / 11;
  align-items: center;
}


.menu img {
  max-width: 45px;
  height: auto;
  margin: 0 10px;

}

.header-logo {
  max-width: 32.5px;
  height: auto;
}

.inner-container h1{
  text-align: center;
  font-weight: normal;
  font-size: 1.6em;
}

.inner-container {
  margin: auto;
  border: 0 10%;
  padding: 0 10%;

}