main {
  font-family:"Ubuntu", sans-serif;
}

.header-content-container {
  font-family: "Ubuntu";
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: gray;
  font-size: 1.5em;
  margin: 15px 0 0 0;
  
}

.header-content-title {
  display: flex;
  padding-right: 1.5rem;

  justify-content: center;
  align-items: center;
}

.header-content-title h2 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
}

.header-content-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}


.header-content-menu {
  display: flex;
  padding-left: 5rem;

}

.menu img {
  max-width: 45px;
  height: auto;
  margin: 0 10px;

}

.header-logo {
  max-width: 32.5px;
  height: auto ;
}




.section--intro {
  display: flex;
  justify-content: center;
  margin: 0 15%;

}


.inner-container h1{
  text-align: center;
  font-weight: normal;
  font-size: 1.6em;
}


.section--services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 0.5em;
}

.section-inner-container {



}

.section--services__title {
  text-align: center;

}

.section--services__title h2{
  font-weight: 300;
  font-size: 1.5em;
  
}

.section--services__title p{
  font-weight: 300;
  font-size: 0.6em;
  color: gray;
  
}

.card__image_zero img {
  max-width: 35px;
  max-height: 35px;
  padding: 18px 26px 18px;
  border: solid 2px #feb206;
  margin-right: 12px;
}

.card__image_one img {
  max-width: 35px;
  max-height: 35px;
  padding: 20px;
  border: solid 2px #25c389;
  margin-right: 12px;

}

.card__image_two img {
  max-width: 35px;
  max-height: 35px;
  padding: 20px;
  border: solid 2px #e7615e;
  margin-right: 12px;

}
.card__image_three img {
  max-width: 35px;
  max-height: 35px;
  padding: 20px;
  border: solid 2px #1fa8d4;
  margin-right: 12px;

}

.card__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 15%;
  line-height: 0;
  /* max-width: 350px; */

}

.card__desc h3{
  font-size: 0.9em;
  font-weight: 500;
  
}

.card__desc p{
  font-size: 0.7em;
  font-weight: 300;
  color: gray;
  line-height: 1.5;

}

.section--services__title {
}





/* CARDS */

.card {
  font-family: "Open Sans";
  margin-bottom: 0.5rem;
}

.card__container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25rem;
}

.card__container-date {
  background-color: #d8605f;
  color: white;
  width: 5rem;
  max-height: 3.75rem;
  position: absolute;
}

.card__content--date {
  display: inline;
  line-height: 0.3em;
  text-align: center;
  margin-top: -0.5rem;
}

p.date {
  font-size: 1.25rem;
  font-weight: 600;
}

p.month {
  font-size: 0.75rem;
}

.card__content--img {
  width: 22rem;
  height: 19rem;
}

.card__container--desc {
  background-color: #19b2de;
  width: 22rem;
  max-height: 4.3rem;
  color: white;
  position: absolute;
  bottom: 0;
  display: inline;
  line-height: 0.2rem;
}

.card__content--desc {
  margin: 1rem 2rem;
}

.card-desc-title {
  font-family: "Ubuntu";
  font-weight: normal;
}

.card-desc-text {
  font-size: 0.75rem;
}

.card-desc-icon-container {
  display: flex;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  position: absolute;
  bottom: 0.5rem;
  left: 18rem;
  background-color: #1596bd;
}

.card-desc-icon {
  max-width: 1.5rem;
}



